USE [master]
GO
/****** Object:  Database [db_homework]    Script Date: 1.03.2026 15:08:34 ******/
CREATE DATABASE [db_homework]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_homework', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_homework.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_homework_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_homework_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_homework].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_homework]
GO
/****** Object:  User [user]    Script Date: 1.03.2026 15:08:34 ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 1.03.2026 15:08:34 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[address]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment] [varchar](255) NULL,
	[neighbourhood_id] [bigint] NULL,
 CONSTRAINT [PK__address__3213E83F161BB796] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[phone1] [varchar](255) NULL,
	[phone2] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[tc] [char](11) NOT NULL,
	[first_name] [varchar](255) NULL,
	[last_name] [varchar](255) NULL,
	[create_date] [date] NULL,
	[contact_id] [bigint] NULL,
	[address_id] [bigint] NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[tc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[district]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[district](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[city_id] [bigint] NULL,
 CONSTRAINT [PK__district__3213E83F39009FE3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[tc] [char](11) NOT NULL,
	[first_name] [varchar](255) NULL,
	[last_name] [varchar](255) NULL,
	[birth_date] [date] NULL,
	[start_date] [date] NULL,
	[role_id] [bigint] NULL,
	[contact_id] [bigint] NULL,
	[address_id] [bigint] NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[tc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[neighbourhood]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[neighbourhood](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[district_id] [bigint] NULL,
 CONSTRAINT [PK__neighbou__3213E83F48A9E2B0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_process]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_process](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_date] [date] NULL,
	[comment] [varchar](255) NULL,
	[status_id] [bigint] NULL,
	[employee_id] [char](11) NULL,
	[service_record_id] [bigint] NULL,
 CONSTRAINT [PK__service___3213E83FCD489EFA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_record]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_record](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[serial_no] [varchar](255) NULL,
	[brand] [varchar](255) NULL,
	[model] [varchar](255) NULL,
	[complaint] [varchar](255) NULL,
	[create_date] [date] NULL,
	[customer_id] [char](11) NULL,
 CONSTRAINT [PK__service___3213E83F36FBB10B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 1.03.2026 15:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([id], [comment], [neighbourhood_id]) VALUES (1, N'Adıgüzel sok. No : 20', 4)
INSERT [dbo].[address] ([id], [comment], [neighbourhood_id]) VALUES (2, N'Cengizler cad. No : 22', 5)
INSERT [dbo].[address] ([id], [comment], [neighbourhood_id]) VALUES (3, N'Alanaldı cad. No : 33', 1)
SET IDENTITY_INSERT [dbo].[address] OFF
GO
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([id], [name]) VALUES (1, N'İSTANBUL')
INSERT [dbo].[city] ([id], [name]) VALUES (2, N'ANKARA')
INSERT [dbo].[city] ([id], [name]) VALUES (3, N'İZMİR')
SET IDENTITY_INSERT [dbo].[city] OFF
GO
SET IDENTITY_INSERT [dbo].[contact] ON 

INSERT [dbo].[contact] ([id], [email], [phone1], [phone2]) VALUES (1, N'1xmha@dollicons.com', N'5578459854', N'5454564752')
INSERT [dbo].[contact] ([id], [email], [phone1], [phone2]) VALUES (2, N'walab@dollicons.com', N'5578457741', N'5457545754')
INSERT [dbo].[contact] ([id], [email], [phone1], [phone2]) VALUES (3, N'ua89o@dollicons.com', N'5578454681', N'5454331274')
SET IDENTITY_INSERT [dbo].[contact] OFF
GO
INSERT [dbo].[customer] ([tc], [first_name], [last_name], [create_date], [contact_id], [address_id]) VALUES (N'43036558824', N'ALİ', N'FARUK', CAST(N'2022-02-22' AS Date), 2, 4)
INSERT [dbo].[customer] ([tc], [first_name], [last_name], [create_date], [contact_id], [address_id]) VALUES (N'81402343230', N'KENAN', N'YILDIRIM', CAST(N'2025-02-21' AS Date), 3, 1)
GO
SET IDENTITY_INSERT [dbo].[district] ON 

INSERT [dbo].[district] ([id], [name], [city_id]) VALUES (1, N'ATAŞEHİR', 1)
INSERT [dbo].[district] ([id], [name], [city_id]) VALUES (2, N'AVCILAR', 1)
INSERT [dbo].[district] ([id], [name], [city_id]) VALUES (3, N'KADIKÖY', 1)
SET IDENTITY_INSERT [dbo].[district] OFF
GO
INSERT [dbo].[employee] ([tc], [first_name], [last_name], [birth_date], [start_date], [role_id], [contact_id], [address_id]) VALUES (N'42707913610', N'ABDÜLHEY', N'ARSLAN', CAST(N'2000-10-29' AS Date), CAST(N'2025-10-14' AS Date), 2, 6, 2)
INSERT [dbo].[employee] ([tc], [first_name], [last_name], [birth_date], [start_date], [role_id], [contact_id], [address_id]) VALUES (N'73108657872', N'ERHAN', N'KARALAR', CAST(N'1983-01-15' AS Date), CAST(N'2026-01-29' AS Date), 4, 4, 3)
INSERT [dbo].[employee] ([tc], [first_name], [last_name], [birth_date], [start_date], [role_id], [contact_id], [address_id]) VALUES (N'81402343230', N'EROL', N'TATAROĞLU', CAST(N'1997-12-01' AS Date), CAST(N'2023-04-04' AS Date), 1, 1, 5)
GO
SET IDENTITY_INSERT [dbo].[neighbourhood] ON 

INSERT [dbo].[neighbourhood] ([id], [name], [district_id]) VALUES (1, N'İÇERENKÖY', 1)
INSERT [dbo].[neighbourhood] ([id], [name], [district_id]) VALUES (2, N'İNÖNÜ', 1)
INSERT [dbo].[neighbourhood] ([id], [name], [district_id]) VALUES (3, N'ATATÜRK', 1)
SET IDENTITY_INSERT [dbo].[neighbourhood] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name]) VALUES (1, N'Teknik Servis Uzmanı')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'Teknisyen')
INSERT [dbo].[role] ([id], [name]) VALUES (3, N'Teknik Uzman')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[service_process] ON 

INSERT [dbo].[service_process] ([id], [create_date], [comment], [status_id], [employee_id], [service_record_id]) VALUES (1, CAST(N'2025-02-21' AS Date), N'İş kayıdı açıldı', 1, N'81402343230', 1)
INSERT [dbo].[service_process] ([id], [create_date], [comment], [status_id], [employee_id], [service_record_id]) VALUES (2, CAST(N'2025-02-23' AS Date), N'Sorun anlaşılması adına incelemeye alındı, kontroller yapıldı', 2, N'42707913610', 1)
INSERT [dbo].[service_process] ([id], [create_date], [comment], [status_id], [employee_id], [service_record_id]) VALUES (3, CAST(N'2025-02-23' AS Date), N'Gerekli malzemeler, listelendi. Sipariş edildi olmayanlar', 3, N'42707913610', 1)
SET IDENTITY_INSERT [dbo].[service_process] OFF
GO
SET IDENTITY_INSERT [dbo].[service_record] ON 

INSERT [dbo].[service_record] ([id], [serial_no], [brand], [model], [complaint], [create_date], [customer_id]) VALUES (1, N'SMS6ECI83T', N'BOSCH', N'SERİE 6', N'Tuş takımı çalışmıyor', CAST(N'2025-02-21' AS Date), N'81402343230')
INSERT [dbo].[service_record] ([id], [serial_no], [brand], [model], [complaint], [create_date], [customer_id]) VALUES (2, N'BM 4144 OK I 7630810277', N'BEKO', N'BM 4144 OK I', N'Otomatik kapı açma özelliği çalışmıyor', CAST(N'2023-04-12' AS Date), N'43036558824')
INSERT [dbo].[service_record] ([id], [serial_no], [brand], [model], [complaint], [create_date], [customer_id]) VALUES (3, N'DW60A8050FS/TR', N'SAMSUNG', N'Solo Bulaşık Makinesi ', N'Gürültülü çalışma', CAST(N'2026-02-21' AS Date), N'43036558824')
SET IDENTITY_INSERT [dbo].[service_record] OFF
GO
SET IDENTITY_INSERT [dbo].[status] ON 

INSERT [dbo].[status] ([id], [status]) VALUES (1, N'KAYIT AÇILDI')
INSERT [dbo].[status] ([id], [status]) VALUES (2, N'İNCELEME')
INSERT [dbo].[status] ([id], [status]) VALUES (3, N'TEDARİK')
SET IDENTITY_INSERT [dbo].[status] OFF
GO
/****** Object:  Index [UK9wi1wa1mp861xeqlfxeyg5t8m]    Script Date: 1.03.2026 15:08:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK9wi1wa1mp861xeqlfxeyg5t8m] ON [dbo].[customer]
(
	[contact_id] ASC
)
WHERE ([contact_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKr8whbd0mf9er6vwfr0sclsxkd]    Script Date: 1.03.2026 15:08:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKr8whbd0mf9er6vwfr0sclsxkd] ON [dbo].[customer]
(
	[address_id] ASC
)
WHERE ([address_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKmxfk6rg7bvgo7w3g8fxj1w4i1]    Script Date: 1.03.2026 15:08:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKmxfk6rg7bvgo7w3g8fxj1w4i1] ON [dbo].[employee]
(
	[contact_id] ASC
)
WHERE ([contact_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKqrbsk9ljmhfje93me0n7xwdxq]    Script Date: 1.03.2026 15:08:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKqrbsk9ljmhfje93me0n7xwdxq] ON [dbo].[employee]
(
	[address_id] ASC
)
WHERE ([address_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD  CONSTRAINT [FK95leoc712c58tqgi4yvubbijm] FOREIGN KEY([neighbourhood_id])
REFERENCES [dbo].[neighbourhood] ([id])
GO
ALTER TABLE [dbo].[address] CHECK CONSTRAINT [FK95leoc712c58tqgi4yvubbijm]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD  CONSTRAINT [FKdw0fbdq1pdvck4bh72ryf4ac] FOREIGN KEY([contact_id])
REFERENCES [dbo].[contact] ([id])
GO
ALTER TABLE [dbo].[customer] CHECK CONSTRAINT [FKdw0fbdq1pdvck4bh72ryf4ac]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD  CONSTRAINT [FKglkhkmh2vyn790ijs6hiqqpi] FOREIGN KEY([address_id])
REFERENCES [dbo].[address] ([id])
GO
ALTER TABLE [dbo].[customer] CHECK CONSTRAINT [FKglkhkmh2vyn790ijs6hiqqpi]
GO
ALTER TABLE [dbo].[district]  WITH CHECK ADD  CONSTRAINT [FKsgx09prp6sk2f0we38bf2dtal] FOREIGN KEY([city_id])
REFERENCES [dbo].[city] ([id])
GO
ALTER TABLE [dbo].[district] CHECK CONSTRAINT [FKsgx09prp6sk2f0we38bf2dtal]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK_employee_role]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK9e7h442ja82p8jh9x2o1osx51] FOREIGN KEY([contact_id])
REFERENCES [dbo].[contact] ([id])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK9e7h442ja82p8jh9x2o1osx51]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FKga73hdtpb67twlr9c1i337tyt] FOREIGN KEY([address_id])
REFERENCES [dbo].[address] ([id])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FKga73hdtpb67twlr9c1i337tyt]
GO
ALTER TABLE [dbo].[neighbourhood]  WITH CHECK ADD  CONSTRAINT [FKcp7bbq56441qeh7vo3hnwygu2] FOREIGN KEY([district_id])
REFERENCES [dbo].[district] ([id])
GO
ALTER TABLE [dbo].[neighbourhood] CHECK CONSTRAINT [FKcp7bbq56441qeh7vo3hnwygu2]
GO
ALTER TABLE [dbo].[service_process]  WITH CHECK ADD  CONSTRAINT [FK_service_process_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([tc])
GO
ALTER TABLE [dbo].[service_process] CHECK CONSTRAINT [FK_service_process_employee]
GO
ALTER TABLE [dbo].[service_process]  WITH CHECK ADD  CONSTRAINT [FK4cihjfc8q1hm787lfe9idflgi] FOREIGN KEY([service_record_id])
REFERENCES [dbo].[service_record] ([id])
GO
ALTER TABLE [dbo].[service_process] CHECK CONSTRAINT [FK4cihjfc8q1hm787lfe9idflgi]
GO
ALTER TABLE [dbo].[service_process]  WITH CHECK ADD  CONSTRAINT [FK8um3x26bmxdr52ukmxr1042ux] FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[service_process] CHECK CONSTRAINT [FK8um3x26bmxdr52ukmxr1042ux]
GO
ALTER TABLE [dbo].[service_record]  WITH CHECK ADD  CONSTRAINT [FK_service_record_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([tc])
GO
ALTER TABLE [dbo].[service_record] CHECK CONSTRAINT [FK_service_record_customer]
GO
USE [master]
GO
